:root {
    --badge-text: black;
}

[data-theme='dark'] {
    --badge-text: black;
}

.badge {
    font-size: 95%;
    color: var(--badge-text);
    padding: .6em;
    height: 100%;
}

.badge:hover{
    filter: brightness(125%);
}